<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rustli.androidlearning">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".logback.LogbackActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".parcelable.ParcelActivity"/>



        <service
            android:name=".multiProcess.KeepWeChatAliveService"
            android:label="@string/app_name"
            android:priority="1000"
            android:exported="true"
            android:process=":x1">
            <intent-filter>
                <action android:name="com.rustli.androidlearning.multiProcess.KeepWeChatAliveService" />
            </intent-filter>
        </service>
<!--        <service-->
<!--            android:name=".multiProcess.DaemonService"-->
<!--            android:exported="true"-->
<!--            android:label="@string/app_name"-->
<!--            android:process=":x2">-->
<!--        </service>-->
        <receiver android:name=".multiProcess.KeepReceiver">
            <intent-filter>
                <action android:name="broadcast_start_keep_alive" />
            </intent-filter>
        </receiver>

        <activity android:name=".lockscreen.LockScreenActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|navigation|keyboard"
            android:excludeFromRecents="true"
            android:exported="false"
            android:finishOnTaskLaunch="false"
            android:launchMode="singleInstance"
            />
        <service android:name=".lockscreen.LockService"/>

        <service
            android:process=":x1"
            android:name=".systemnotification.NotificationService"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE" >
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>

        <service android:name=".multiProcess.DaemonService"/>


    </application>


</manifest>